<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Blog{% endblock %}</title>
</head>
<body>
    {% block content %}Coucou cou cou coucouc cou coucou {% endblock %}
</body>
</html>